@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  height: 88px;
  min-width: 100vw;
  margin: -25px 0 0 0;
  background: #131C2B;
  display: flex;
  justify-content: space-around;
  align-items: normal;
  position: fixed;
  left: 0;
  top: 10;
  z-index: 100;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-right: 20px;
  font-size: 17px;
  padding: 0 10px;
}

nav ul li a {
  color: rgb(87, 81, 81);
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff523b;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  100px;
  background: radial-gradient(#fff, rgb(255, 191, 191));
  background-size: cover;
}

.mission{
    padding-bottom: 60px;
    text-align: center;
    margin-top: 50px;
}

.mission h1{
    margin-bottom: 20px;
}

.link{
    text-decoration: none;
    color: #ff523b;
}


.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/* navbar */

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 17px;
    padding: 10px;
  }

.center{
    text-align: center;
}

.head{
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.sub-head{
    font-size: 30px;
}

/* footer */

footer {
    width: 100%;
    bottom: 0;
    background:  #192734;
    /* background-image: linear-gradient(to right, #DECBA4, #3E5151); */
    color: #fff;
    padding: 8px;
    font-size: 13px;
    line-height: 20px;
  }
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col {
    flex-basis: 25px;
    padding: 10px;
    margin: 30px;
  }
  
  .col1 h5{
    color: #ff523b;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 1rem;
  }
  .dev{
    font-size: 16px;
    font-weight: bold;
  }
  .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    line-height: 2rem;
  }
  .email-id {
    width: fit-content;
    margin: 20px 0;
    color: #ff523b;
  }
  .email-id:hover{
    font-size: 16px;
    font-weight: 100;
    color: white;
    transition-duration: 0.7s;
  }
  .col2 h4{
    font-size: 16px;
    font-weight: 100;
    color: #ff523b;
  }
  .col2 h4:hover{
    font-size: 16px;
    font-weight: 100;
    color: white;
    transition-duration: 0.7s;
  }
  .col p{
    font-size: 16px;
    
  }
  .col2{
    width: 40%;
    /* margin-left: -80px; */
    min-width: 240px;
  }
  .col h3{
    color: #ff523b;
    font-size: 20px;
    font-weight: 900;
    text-align: justify center;
    margin-bottom: 20px;
  }
  .col3{
    min-width: 12rem;
  }
  .col3 ul li a{
    font-size: 16px;
    color:  white;
  }
  .col3 ul li a:hover{
    color: #ff523b;
    transition-duration: 0.5s;
  }
  .col4{
    margin-left: -50px;
    margin-right: 100px;
    margin-top: 60px;
  }
  .col4 h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  ul li {
    list-style: none;
    margin-bottom: 12px;
  }
  ul li a {
    text-decoration: none;
    color: rgb(87, 81, 81);
  }
  ul li a:hover {
    color: #ff523b;
  }

  form {
    padding-bottom: 5%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 70px;
  }
  form .far {
    font-size: 38px;
  
  }
  
  .col ul>li{
    width: 120px;
  }
  
  button  .submit{
    border-radius: 15px;
  }
  form button>i{
    padding: 8px;
    border-radius: 10px;
  }
  
  form input {
    background: transparent;
    color: #ccc;
    width: 200px;
    padding: 8px;
    border: 0;
    outline: none;
  }
  
  .form-news{
    margin-bottom: 30px;
  }
  .social-media{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social-media i{
    border: 1px solid gray;
    width: 45px;
    height: 38px;
    padding-top: 7px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: #d3d3d3;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .toggle-mode {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    /* border: 1px solid red; */
    /* cursor: pointer; */
  }
  
  .toggle-mode > img {
    width: 35px;
    height: 35px;
  }
  
  .sun {
    display: none;
  }
  .dis{
    position: absolute;
    bottom: 20%;
    text-align:center;
    font-size: 13px;
    padding: 1rem 1rem;
    transition: .5s ease;
    background-color: #a6b6bb;
    opacity: 0;
    overflow: hidden;;
  }
  .col-3:hover .dis{
    opacity: 1;
  }
  #pic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 210px;
    margin-right: 1rem;
  }
  #pic>.dev{
    padding: 10px 0;
  }
  
  .contact{
    width: 70%;
    padding: 5px;
  }
  
  .contact{
    padding-right:5px;
    background-color: #ff523b;
    border-radius: 20px;
    margin-top: 10px;
  }
  .contact a h4{
    font-size: 16px;
    text-align: center;
    color: white;
  }
  .contact a h4:hover{
    font-size: 18px;
  }
  
  .branchimg{
    box-shadow: 8px 8px 8px#1c2020;
    border-radius: 1rem;
  }
  .students{
    filter: drop-shadow(10px 10px 10px rgb(60, 60, 60));
  }
  .far{
    margin-right: 10px;
  }
  .emailid{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    margin-right: 5px;
  }
  .fa-brands{
    font-size: 25px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .tweet:hover{
    color: #00B6F1;;
  }
  .insta:hover{
    color:  rgb(255, 0, 43);
  }
  .git:hover{
    color: #040204;
  }
  .in:hover{
   color: #04669A;
  }
  .tele:hover{
    color:  #0088cc;
  
  }
  .youtube:hover{
    color:rgb(255, 0, 0);
  }
  /*? dark mode */
  
  .dark-mode {
    background: #2c3333;
    color: white;
  }
  
  .dark-mode .title{
    background: #2c3333;
    color:#bf7474
  }
  .header-dark-mode {
  
    background: #1c2020;
    color: #bf7474;
  }
  