body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: "Poppins", sans-serif;

    & home-navigation {
        height: fit-content;
        z-index: 100;
        backdrop-filter: blur(10px);
    }
    & home-navigation, & > div {
        grid-row: 1;
        grid-column: 1;
    }
    /* return to top */
    & > div:last-of-type {
        width: fit-content;
        height: fit-content;
        align-self: end;
        justify-self: end;
        background: #d30101;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        padding: 20px 25px;
        color: white;
        margin: 0 30px 30px 0;
        opacity: 0;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    /* main content */
    & > div:first-of-type {
        height: 100vh;
        overflow-y: scroll;
        background: white;

        &::-webkit-scrollbar {
            width: 11px;
        }
        &::-webkit-scrollbar-track {
            background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgb(0, 35, 211) 70%);
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            box-shadow: 0px 0px 0px 100000vh rgb(45, 42, 42);
            border-radius: 8px;
        }
    }
    &.dark-mode > div:first-of-type {
        background: #2c3333;
    }
    & > div > section,
    & article {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
    & > div > section {
        padding: 16% 10% 10%;
        text-align: center;

        & h1 {
            margin-top: 0;
            font-size: 3.125rem;
            line-height: 3.75rem;
        }
        & p {
            line-height: 1.7;
        }

        /* Chaibasa Engineering Notes section */
        &:first-of-type {
            & div:first-child {
                flex: 1;
            }
            & div.image {
                width: 30vw;
                height: 30vw;
                background-image: url("images/engineering_notes.png");
                box-shadow: 0 0 8px 8px white inset;
                background-size: contain;
            }
        }

        /* Chaibasa Engineering College section */
        &.about {
            background: radial-gradient(#fff, rgb(255, 191, 191));
            & div.image {
                width: 35vw;
                height: 30vw;
                background-image: url("images/college1.png");
                background-size: contain;
                filter: drop-shadow(10px 10px 10px rgb(60, 60, 60));
            }
            & div:last-child {
                flex: 1;
            }
        }
        /* Branches */
        &.branches article {
            flex-direction: column;
            & > div {
                display: flex;
                column-gap: 32px;
                width: 80vw;
                overflow: scroll;
            }
            & a {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                color: #000;
                text-decoration: none;

                & img, & .card__details {
                    grid-row: 1;
                    grid-column: 1;
                }
                & .card__details {
                    backdrop-filter: blur(50px);
                    color: white;
                    padding: 10px;
                    font-size: 13px;
                    height: 75%;
                    margin: 15px;
                    max-width: 170px;
                    overflow-y: scroll;
                    opacity: 0;
                    &:hover {
                        opacity: 1;
                    }
                }
                & img {
                    height: 300px;
                    box-shadow: 8px 8px 8px#1c2020;
                    border-radius: 1rem;
                }
            }
        }
        &.contributors {
            background: #131c2b;
            padding: 5%;
            & article {
                flex-direction: column;
                & h1 {
                    color: white;
                }
                & .avatar {
                    border-radius: 50%;
                    width: 4rem;
                    margin: 10px
                }
            }
        }
    }
    &.dark-mode > div > section {
        & h1 {
            color: #bf7474;
        }
        & p {
            color: white;
        }
        &:first-of-type div.image {
            box-shadow: 0 0 8px 8px #2c3333 inset;
        }
        &.about {
            background: #1c2020;
        }
    }
}
