* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Gradient scroll bar  */
body::-webkit-scrollbar {
  width: 11px;
}
.card:hover {
  background-color: rgb(132, 94, 144);
  transform: scale(1.1);
}

body::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgb(0, 35, 211) 70%);
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh rgb(45, 42, 42);
    border-radius: 8px;
}
.box {
  box-shadow: 0px 0px 4px ??? black;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 17px;
  padding: 10px;
}
.col-2 p{
  text-align: left;
}
.para{
  max-width: 500px;
}
a {
  text-decoration: none;
  color: rgb(64, 64, 64);
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0px;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin-left: 20%px;
  margin-top: 20px;
  border-radius: 30px;
  transition: 0.5s;
}
.col-2 .btn{
  margin-top: 70px;
}
.btn:hover {
  background: #29a423;
  transform: scaleX(2);
  transform: scaley(1.1);
  box-shadow: 2px 2px 20px rgb(49, 49, 49);
}
.header {
  background: radial-gradient(#fff, rgb(255, 191, 191));
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
}
.col-3 {
  text-align:center;
  flex-basis: 30%;
  min-width: width 250px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  padding-top: 20px;
  font-size: 25px;
  color: rgb(54, 53, 53);
}
.title::after {
  content: "";
  width: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: tra;
}
footer {
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 8px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25px;
  padding: 10px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: rgb(87, 81, 81);
}
form {
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 100px;
}
form .far {
  font-size: 18px;
}
form input {
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
col .p {
  font-size: 10px;
}

.toggle-mode {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* border: 1px solid red; */
  /* cursor: pointer; */
}

.toggle-mode > img {
  width: 35px;
  height: 35px;
}

.sun {
  display: none;
}
.dis{
  text-align:left;
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.dev {
  text-align: center;
}
.contact{
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  margin-top: 10px;
}
.contact a h4{
  font-size: 13px;
  text-align: center;
  color: black;
}
.contact:hover{
  background-color: #00b017;
}
.branchimg{
  box-shadow: 8px 8px 8px#1c2020;
}
.students{
  filter: drop-shadow(10px 10px 10px rgb(60, 60, 60));
}
.far{
  margin-right: 10px;
}
.emailid{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  margin-right: 5px;
}
.fa-brands{
  font-size: 25px;
  padding-right: 8px;
  padding-left: 8px;
}
.fa-brands:hover{
  color: rgb(0, 162, 255);
}
.insta:hover{
  color: rgb(255, 0, 43);
}

/*? dark mode */

.dark-mode {
  background: #2c3333;
  color: #f5f5f5;
}

.header-dark-mode {
  background: #1c2020;
  color: #f5f5f5;
}
@media screen and (max-width: 580px){
  .btn{
    margin-left: 28px;
  }
  .dis{
    font-size: 8px;
  }
  nav ul li{
    font-size: 13px;
    font-weight:bolder;
  }
  .para{
    font-size: 15px;
  }
}
@media screen and (max-width: 360px){
  .btn{
    margin-left:5px;
  }
  nav ul li{
    font-size: 15px;
    font-weight: bolder;
  }
}
