body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}



h1 {
  color: rgb(30, 66, 212);
  
}

h1 a{
  color: rgb(30, 66, 212);
  text-decoration: none;
  
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background:  linear-gradient(0deg, rgb(18, 18, 18) 0%, rgb(159, 159, 161) 70%);
  width: 90%;
}
nav {
  flex: 3;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 17px;
  padding: 5px;
  

}

nav ul li a{
  display: inline-block;
  margin-right: 20px;
  font-size: 17px;
  padding: 10px;
  color:rgb(235, 237, 246);
  text-decoration: none;
  text-shadow: turquoise;

}



.google{
  margin-right: 10px;
  width: 45px;
}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div:hover {
  border-color: coral;
}
.grid-container div img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

